html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.sidebar .block, .sidebar .block.block-search, .comment-wrapper {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.sidebar .block h2, .comment-wrapper h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.comment h3 {
  font-size: 1.1em;
  margin: 6px 0 16px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px dotted lightgray;
}

.comment {
  padding: 5px;
  background-color: white;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "tenso", sans-serif;
  font-size: 16px;
  background: url("../images/bg.png") repeat 0 0;
  padding: 0;
  margin: 0 0 100px;
  /* Footer height for sticky footer */
}

::-moz-selection {
  background: #b3d4fc;
  color: black;
}

::selection {
  background: #b3d4fc;
  color: black;
}

ul.inline li.disqus_comments_num {
  display: none;
}

#header {
  background: url("../images/header-bg.png") 0 0 repeat-x;
  height: 76px;
}
#header .container {
  margin: 0 auto;
}
#header #site-info {
  overflow: hidden;
  *zoom: 1;
  height: 75px;
}
#header #site-info #site-logo {
  float: left;
  padding: 7px 0 0 0;
}
#header #site-info #name-and-slogan {
  float: left;
  padding: 20px 0 0 20px;
}
#header #site-info #site-name {
  color: white;
  font-size: 1em;
  padding-bottom: 5px;
}
#header #site-info #site-name a {
  color: white;
  font-size: 1.300em;
}
#header #site-info #site-name a:hover {
  text-decoration: none;
}
#header #site-info #site-slogan {
  color: white;
  font-size: .800em;
}
#header .region-header .block-search {
  padding-top: 20px;
}

@media all and (min-width: 768px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
}
.sidebar {
  font-size: .900em;
}
.sidebar .block-menu .content {
  margin: 0 0 0.25em 1.5em;
}
.sidebar .block {
  padding: 10px;
  background: #f8f8f8;
}
.sidebar .block .item-list li {
  padding: 5px 0 5px 0;
}
.sidebar .block.block-search {
  padding: 10px 0 10px 0;
}

.block.block-search {
  padding: 0;
}

#breadcrumb {
  margin-top: 10px;
}

.messages {
  margin: 0 auto;
}

.front .article-content img {
  width: 140px;
  float: left;
  margin: 0 10px 10px 0;
}

.not-front .article-content img {
  float: left;
  margin: 0 10px 10px 0;
}

.not-front #content-wrapper {
  padding-top: 5px;
}

#content-wrapper {
  padding: 25px 0 0 0;
  overflow: hidden;
  *zoom: 1;
}
#content-wrapper .articles {
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #e5e5e5 2px 2px 10px;
  -moz-box-shadow: #e5e5e5 2px 2px 10px;
  box-shadow: #e5e5e5 2px 2px 10px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
#content-wrapper .articles .glyphicon {
  margin-right: 4px;
}
#content-wrapper .articles .article-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  *zoom: 1;
}
#content-wrapper .articles .article-header li:first-child {
  padding: 0;
}
#content-wrapper .articles .article-header li {
  float: left;
  font-size: .750em;
  padding-left: 15px;
}
#content-wrapper .articles .article-header li a {
  text-decoration: none;
  color: #707070;
}
#content-wrapper .articles .article-content {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  *zoom: 1;
  line-height: 20px;
  font-size: .800em;
  color: #555555;
}
#content-wrapper .articles .article-content .content {
  font-size: 1.2em;
  font-weight: 300;
}
#content-wrapper .articles .article-content .content p {
  padding-bottom: 10px;
}
#content-wrapper .articles .article-content h2.article-title {
  font-size: 1.8em;
  font-weight: 300;
  padding-bottom: 10px;
  color: black;
  line-height: 1.2;
}
#content-wrapper .articles .article-content h2.article-title a {
  color: black;
}
#content-wrapper .articles .article-content span.readmore {
  float: right;
}
#content-wrapper .articles .article-content span.readmore a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
#content-wrapper .articles .article-content span.readmore .halflings-readmore {
  background: url("../images/glyphicons_halflings.png") -452px -72px no-repeat;
  width: 24px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
}
#content-wrapper .articles .article-footer {
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
#content-wrapper .articles .article-footer li:last-child {
  padding: 0;
}
#content-wrapper .articles .article-footer li {
  float: left;
  font-size: .750em;
  padding-right: 15px;
}
#content-wrapper .articles .article-footer li a {
  text-decoration: none;
  color: #707070;
}
#content-wrapper .articles .article-footer li.tags a {
  margin-left: 5px;
  display: inline-block;
}

#footer-wrapper {
  border-top: 5px solid #e7e7e7;
  padding-top: 15px;
  background: black;
  height: 100px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer p {
  text-align: center;
  font-size: .9em;
}

table tr td {
  padding: 5px;
  font-size: 1em;
}

.comment-wrapper {
  background: #f8f8f8;
  padding: 10px;
  font-size: 1em;
}

.comment-form {
  font-size: .900em;
}
.comment-form .tips li {
  padding-bottom: 5px;
}
.comment-form .form-actions input {
  margin-left: 5px;
}

.comment .comment-top {
  overflow: hidden;
  *zoom: 1;
}
.comment .user-picture {
  float: left;
  padding-right: 10px;
}
.comment .comment-meta-wrapper {
  overflow: hidden;
  *zoom: 1;
}
.comment .submitted {
  font-size: .800em;
  margin: 6px 0 6px 0;
}
.comment .content {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}
.comment .content p {
  font-size: .850em;
  margin: 6px 0 6px 0;
  line-height: 1.4em;
}
.comment .comment-delete,
.comment .comment-reply,
.comment .comment-edit {
  padding: 0;
}

.comment-form .form-item label {
  padding-bottom: 8px;
}

.not-front .articles .article-content h1 {
  font-size: 1.8em;
  padding-bottom: 10px;
}
.not-front .articles .article-content h2 {
  font-size: 1.6em;
  padding-bottom: 10px;
}
.not-front .articles .article-content h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}
.not-front .articles .article-content h4 {
  font-size: 1.4em;
  padding-bottom: 10px;
}
.not-front .articles .article-content h5 {
  font-size: 1.3em;
  padding-bottom: 10px;
}
.not-front .articles .article-content h6 {
  font-size: 1.1em;
  padding-bottom: 10px;
}
.not-front .articles .article-content ul {
  list-style-type: disc;
  list-style: disc;
  padding: 0 0 10px 20px;
}
.not-front .articles .article-content p {
  padding-bottom: 10px;
}
.not-front .articles .article-content img {
  width: 35%;
  height: auto;
}

.not-front section h1.title {
  font-size: 1.8em;
  padding-bottom: 10px;
}

nav .container {
  margin: 0 auto;
}
nav li .menu-divider {
  padding: 0 8px 0 10px;
}
