%border-style {
  @include border-radius(2px);
  border: 1px solid $border-shadow;
  margin-bottom: 20px;
  }

%border-style-none {
  @include border-radius(0);
  border: 0;
  margin-bottom: 20px;
  }

%block-title {
  font-size: 1.5em;
  margin-bottom:10px;
  }

%comment-title {
  font-size: 1.1em;
  margin:6px 0 16px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px dotted lightgray;
  }

%block-title-small {
  font-size: 1.2em;
  margin:6px 0 6px 0;
  }

%comment-wrapper {
  padding: 5px;
  background-color: $white;
  margin-bottom: 15px;
  @include border-radius(5px);
  border: 1px solid lightgray;
}