//////////////////////////////
// Comments
//////////////////////////////
.comment-wrapper {
  @extend %border-style;
  background: $article-bg;
  padding: 10px;
  font-size: 1em;

  h2 {
    @extend %block-title;
    }
  }

 .comment-form {
   font-size: .900em;

   .tips li{
     padding-bottom: 5px;
     }

   .form-actions {
     input {
       margin-left: 5px;
       }
     }
   }

 .comment {
  @extend %comment-wrapper;

  .comment-top {
    @include clearfix;
  }
  .user-picture {
    float: left;
    padding-right: 10px;
  }
  .comment-meta-wrapper {
    @include clearfix;
  }

  h3 {
    @extend %comment-title;
    }
  .submitted {
    font-size: .800em;
    margin: 6px 0 6px 0;
    }
  .content {
    @include clearfix;
    clear: both;
    p {
      font-size: .850em;
      margin: 6px 0 6px 0;
      line-height: 1.4em;
      }
    }
  .comment-delete,
  .comment-reply,
  .comment-edit {
    padding: 0;
  }
  }

.comment-form {
  .form-item {
    label {
      padding-bottom: 8px;
    }
  }
}
