#header{
	.container {
		margin: 0 auto;
	}

	background: url('../images/header-bg.png') 0 0 repeat-x;
	height: 76px;

	#site-info{
		@include clearfix;
		height: 75px;

		#site-logo{
			float: left;
			padding: 7px 0 0 0;
			}
		#name-and-slogan{
			float: left;
			padding: 20px 0 0 20px;
		}
		#site-name{
			color: $white;
			font-size: 1em;
			padding-bottom: 5px;

			a {
				color: $white;
				font-size: 1.300em;
				}
			a:hover {
				text-decoration: none;
				}
			}
		#site-slogan{
			color: $white;
			font-size: .800em;
			}
		}

	.region-header .block-search {
		padding-top: 20px;
	}
}

@media all and (min-width: 768px) {
	.col-md-6 {
		width: 50%;
		float: left;
	}
}