//////////////////////////////
// Node Styles
//////////////////////////////

.not-front .articles .article-content {
  h1 {font-size: 1.8em; padding-bottom: 10px;}
  h2 {font-size: 1.6em; padding-bottom: 10px;}
  h3 {font-size: 1.5em; padding-bottom: 10px;}
  h4 {font-size: 1.4em; padding-bottom: 10px;}
  h5 {font-size: 1.3em; padding-bottom: 10px;}
  h6 {font-size: 1.1em; padding-bottom: 10px;}

  ul {
    list-style-type: disc;
    list-style: disc;
    padding: 0 0 10px 20px
    }
  p {
    padding-bottom: 10px;
    }
  img {
    width: 35%;
    height: auto;
    }
  }

.not-front section h1.title {
	font-size: 1.8em;
	padding-bottom: 10px;
  }

#first-time {
  
}