#breadcrumb {
	margin-top: 10px;
	}
.messages {
	margin: 0 auto;
  }
  
.front .article-content img{
	width: 140px;
	float: left;
	margin: 0 10px 10px 0;
	}

.not-front .article-content img{
	float: left;
	margin: 0 10px 10px 0;
	}
.not-front #content-wrapper{
	padding-top: 5px;
  }

#content-wrapper{
		padding: 25px 0 0 0;
		@include clearfix;

		.articles{
			background: $white;
			@include border-radius(2px);
			@include box-shadow($border-shadow 2px 2px 10px);
			border: 1px solid $border-shadow;
			margin-bottom: 20px;

			.glyphicon {
				margin-right: 4px;
				}

			.article-header{
				padding: 10px;
				border-bottom: 1px solid $border-shadow;
				@include clearfix;

				li:first-child{
					padding: 0;
				}
				
				li{
					float: left;
					font-size: .750em;
					padding-left: 15px;

					a{
						text-decoration: none;
						color: $meta-color;
						}
					}
				}
			.article-content{
				padding: 10px;
				border-bottom: 1px solid $border-shadow;
				@include clearfix;
				line-height: 20px;
				font-size: .800em;
				color: $txt-color;

				.content {
					font-size: 1.2em;
					font-weight: 300;
					p {
						padding-bottom: 10px;
						}
					}

				h2.article-title{
					font-size: 1.8em;
					font-weight: 300;
					padding-bottom: 10px;
					color: $black;
					line-height: 1.2;
					a {
					  color: $black;
					  }
					}

				span.readmore{
					float: right;

					a{
						text-decoration: none;
						color: $black;
						margin-right: 5px;
						}

					.halflings-readmore{
						background: url('../images/glyphicons_halflings.png') -452px -72px no-repeat;
						width: 24px;
						height: 14px;
						display: inline-block;
						vertical-align: text-top;
						}
					}
				}
			.article-footer{
				padding: 10px;
				@include clearfix;
				
				li:last-child{
					padding: 0;
				}

				li{
					float: left;
					font-size: .750em;
					padding-right: 15px;

					a{
						text-decoration: none;
						color: $meta-color;
						}
					}
				li.tags{
						a{
							margin-left: 5px;
							display: inline-block;
							}
						}
				}
			}
		.sidebar{
			
			}
		}
	#footer-wrapper{
		border-top: 5px solid $gray;
		padding-top: 15px;
		background: $black;
		height: 100px;
		color: $white;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		}
	#footer {
		p {
			text-align: center;
			font-size: .9em;
		}
	}
